

.Homepage {
  background-color: rgb(255, 247, 205);
}


/* body {
  background-color: rgb(255, 247, 205);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */



.Flashcardpage {
  background-color: #CBBBAB;
  
  width: 100%;
  height: calc(100vh - 50px);
  /* margin-left: 50%;
  margin-right: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 0;
}

.category-name {
  font-size: 1em;
  color: #CBBBAB;
  vertical-align: middle;
}
.category-desc {
  font-size: 0.75em;
}


.guage-guessed {
  margin-top: 100px;
  font-size: 1em;
  color: #AD937C;
  padding-bottom: 0;

}

.accuracy {
  font-size: 0.75em;
  color: #AD937C;
  margin-bottom: 50px;
}
.word-to-guess {
  font-size: 3em;
  padding-top: 0;
  color: #F5F2ED;
  margin-bottom: 50px;

}

.submit-guessed {
  font-size: 0.75em;
}

.word-guessed {
  background-color: #F5F2ED;
  color: #2F2211;

  width: 70%;
  height: 40px;

  border-radius: 10px;
  border: none;

  font-size: 3em;
  text-align: center;

  /* margin-bottom: 25px; */
}
.submit-guess {
  background-color: #2F2211;
  color: #F5F2ED;

  width: 60%;
  height: 50px;

  border-radius: 10px;
  border: none;

  font-size: 2em;
  text-align: center;
}


.Navbar {
  height: 50px;
  width: 100%;

  display: flex;


  justify-content: start;

  background-color: #2F2211;
  /* box-shadow: 0px 4px 32px 6px rgba(0, 0, 0, 1); */
}

.logo {
  max-height: 50px;
  margin-right: 20px;
}
