

.Homepage {
  background-color: rgb(255, 247, 205);
}

body {
  /* font-family: 'Geneva', sans-serif; */
  font-weight: bolder;
}

/* body {
  background-color: rgb(255, 247, 205);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
/* input[type=button] {
  font-family: 'Times New Roman', sans-serif;
  font-family: 'Times New Roman', sans-serif;

} */


.Flashcardpage {
  background-color: #CBBBAB;
  
  width: 100%;
  height: calc(100vh - 50px);
  /* margin-left: 50%;
  margin-right: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}



h1 {
  text-align: center;
  margin: 0;
  font-weight: bolder;
}


.category-desc {
  font-size: 0.75em;
}


.guage-guessed {
  margin-top: 70px; /*30*/
  font-size: 1.5em;
  color: #AD937C;
  padding-bottom: 0;
  text-align: left;
  width: 100%;
  padding-left: 25px;
  height: 50px;
}

.accuracy {
  font-size: 1.5em;
  color: #AD937C;
  margin-bottom: 50px;
  text-align: right;
  margin-top: 35px;
  width: 100%;
  padding-right: 25px;
}

.back-card {
  background-color: #F5F2ED;
  display: block;
  width: 90vw;
  height: 55vw;
  position: absolute;
  top: 135px;
  rotate: -10deg;
}

.word-to-guess {
  font-size: 3em;
  padding-top: 0;
  color: #8F5C38;
  margin-bottom: 35px;
  z-index: 2;
  height: 50px;


}
.result-correct {
  font-size: 3em;
  padding-top: 0;
  color: #3edb2f;
  margin-bottom: 35px;
  z-index: 2;
  height: 50px;
}
.result-incorrect {
  font-size: 3em;
  padding-top: 0;
  color: #db2f2f;
  margin-bottom: 35px;
  z-index: 2;
  height: 50px;
  /* font-family: 'Geneva', sans-serif; */
}
.guess-wrapper {
  background-color: #EAE4DE;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 80vw;
  height: 50px;
  align-items: center;
}

.button-next-card {
  background-color: #6F1D1B;
  z-index: 2;
  width: 50vw;
  height: 50px;
  align-items: center;
  text-align: center;
  border: none;
  font-size: 2em;
  color: #EAE4DE;
  font-weight: bold;
  border-radius: 50px;
  /* font-family: 'Times New Roman', sans-serif; */
  /* font-family: 'Geneva', sans-serif; */
}

/* .button-next-card {
  background-color: #EAE4DE;
  z-index: 2;
  width: 80vw;
  height: 50px;
  align-items: center;
  text-align: center;
  border: none;
  font-size: 2em;
  color: #2F2211;
  font-weight: bold;
  /* font-family: 'Times New Roman', sans-serif; */
  /* font-family: 'Geneva', sans-serif; */



.word-guessed {
  background-color: #EAE4DE;
  background: none;
  color: #2F2211;

  width: calc(100% - 5px);
  height: 40px;
  /* border-radius: 10px; */
  border: none;

  font-size: 3em;
  text-align: center;
  z-index: 3;

  border-bottom: 2px solid #2F2211;

  /* margin-bottom: 25px; */
}
.submit-guess {
  background-color: #2F2211;
  color: #F5F2ED;

  width: 40px;
  height: 40px;

  border-radius: 50px;
  border: none;

  font-size: 2em;
  text-align: center;
  margin-right: 5px;

  z-index: 4;
}

/* .submit-guess {
  background-color: #2F2211;
  color: #F5F2ED;

  width: 60%;
  height: 50px;

  border-radius: 10px;
  border: none;

  font-size: 2em;
  text-align: center;

  z-index: 2;

} */

.Homepage {
  background-color: #CBBBAB;
  
  width: 100%;
  height: calc(100vh - 50px);
  /* margin-left: 50%;
  margin-right: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #AD937C;
}


.Homepage h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}


.category-list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}


.category-list button {
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;

  width: 80vw;
  margin-bottom: 10px;

  color: #8F5C38;
  background-color: #F5F2ED;
  border-radius: 25px;

}

.category-list a:visited {
  color: #8F5C38;
}

.category-list a:hover {
  color: #AD937C;
}

.Navbar {
  height: 50px;
  width: 100%;

  display: flex;


  justify-content: start;

  background-color: #2F2211;
  /* box-shadow: 0px 4px 32px 6px rgba(0, 0, 0, 1); */
}

.logo {
  max-height: 50px;
  margin-right: 0px;
}
.category-name {
  font-size: 1.5em;
  color: #8F5C38;
  vertical-align: bottom;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 5px;
}

.Resultspage {
  background-color: #CBBBAB;
  
  width: 100%;
  height: calc(100vh - 50px);
  /* margin-left: 50%;
  margin-right: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #AD937C;
}


.result-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  max-height: 90%;
  overflow-y: auto;
  padding: 10px;
  /* border: 5px solid #ccc; */
}



.resultWord{
  font-size: 1em;
  padding-top: 0;
  /* margin-bottom: 5px; */
  z-index: 2;
  height: 50px;
  width: 100%;
  background-color: #CBBBAB;
}

/* .result-list:nth-child(3n+1) {
  background-color: #ffffff;
} */

.resultWord:nth-of-type(2n+1) {
  background-color: #c7ae98;
}

.resultword-correct {
  color: #58c54c;
}

.resultword-incorrect {
  color: #db2f2f;
}